# https://packages.ubuntu.com/bionic/python3-pyqt5
# https://github.com/pyinstaller/pyinstaller/issues/4293
PyQt5 == 5.12.2

# https://packages.ubuntu.com/bionic/python3-numpy
# Last version of numpy has problems with some modules when using pyinstaller
# https://stackoverflow.com/questions/57264427/in-pyinstaller-why-wont-numpy-random-common-load-as-a-module
numpy == 1.16.2

aiogrpc==1.7
altgraph==0.17
grpcio==1.29.0
macholib==1.14
mavsdk==0.7.0
protobuf==3.18.3
PyInstaller==3.6
PyQt5-sip==12.7.2
QtAwesome==0.7.2
QtPy==1.9.0
Quamash==0.6.1
six==1.15.0
PyQtWebEngine==5.14.0
