@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,700");
@page {
  margin: 0;
  size: landscape;
}
html {
  align-content: center;
  align-items: center;
  display: flex;
  font-family: "KoPubDotum", sans-serif;
  height: 100%;
  justify-content: center;
}
html body {
  background: #fff;
  box-sizing: border-box;
  color: #2A3239;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  width: 29.7cm;
  height: 21cm;
}
html body div#informations {
  #flex: 1;
  #padding: 0;
  #position: relative;
}
html body section {
  box-sizing: border-box;
}
html body section#mail {
  flex: 1;
  padding: 0;
  position: relative;
  border-bottom: 1px dotted grey;
}
html body section#mail h1 {
  font-size: 20pt;
  font-weight: 300;
  text-transform: uppercase;
}
html body section#mail h1#name {
  display: inline-block;
  margin-left: 1cm;
}
html body section#mail h1#phone {
  display: inline-block;
  margin-left: 1cm;
}
html body section#mail h1#address {
  margin-left: 1cm;
  margin-top: 1cm;
  margin-bottom: 0;
}
